body,
html {
  min-height: 100%;
}

a {
  text-decoration: none;
}
svg {
  width: 200px;
  height: 40px;
}
.top-nav {
  position: relative;
  border-bottom: 0.7px solid #001955;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  min-height: 48px;
  z-index: 100;
}
.top-nav .toggler {
  width: 80px;
  position: relative;
}
.top-nav .toggler > button {
  color: #001955;
  border: 3px #001955 solid !important;
  border-radius: 4px;
}
.top-nav i {
  font-size: 16pt;
}
.top-nav .user-menu button.user {
  border-radius: 50% !important;
}

/** SIDE BAR */
aside.side-bar {
  width: 250px;
  min-height: calc(100% - 50px);
  position: fixed;
  top: 50px;
  bottom: 0;
  transition: margin-left 0.2s ease-in;
  border-right: 0.6px solid #e2e1e1;
  background-color: #fafafa;
}
aside.side-bar.minimized {
  margin-left: -250px;
}
aside.side-bar ul {
  list-style: none;
  margin: 1.7em 0.4em;
  padding: 0;
}
aside.side-bar ul li {
  margin-bottom: 0.1em;
  padding: 0.2em 0.7em;
}
aside.side-bar ul li a {
  color: rgb(49, 49, 49);
  font-size: 14pt;
  font-weight: 500;
  display: block;
}

/* MAIN CONTENTS */
main.main-contents {
  margin-left: 250px;
  position: relative;
  min-height: calc(100% - 50px);
  margin-top: 60px;
  transition: margin-left 0.2s ease-in;
}
main.main-contents.full {
  margin-left: 0;
}

/** dashboard */
.summary-cards .card {
  margin-bottom: 1.4em;
}
