body,
html {
  min-height: 100%;
}

a {
  text-decoration: none;
}
svg {
  width: 200px;
  height: 40px;
}
.top-nav {
  position: relative;
  min-height: 50px;
  border-bottom: 2px solid #e2e1e1;
}
.top-nav .toggler {
  width: 80px;
}
.top-nav i {
  font-size: 16pt;
}

/** SIDE BAR */
aside.side-bar {
  width: 250px;
  min-height: calc(100% - 50px);
  position: fixed;
  top: 50px;
  bottom: 0;
  transition: margin-left 0.2s ease-in;
  border-right: 0.6px solid #e2e1e1;
  background-color: #fafafa;
}
aside.side-bar.minimized {
  margin-left: -250px;
}
aside.side-bar ul {
  list-style: none;
  margin: 1.7em 0.4em;
  padding: 0;
}
aside.side-bar ul li {
  margin-bottom: 0.1em;
  padding: 0.2em 0.7em;
}
aside.side-bar ul li a {
  color: rgb(49, 49, 49);
  font-size: 14pt;
  font-weight: 500;
  display: block;
}

/* MAIN CONTENTS */
main.main-contents {
  margin-left: 250px;
  position: relative;
  min-height: calc(100% - 50px);
  margin-top: 10px;
  transition: margin-left 0.2s ease-in;
}
main.main-contents.full {
  margin-left: 0;
}
