/* defaults for every page in the loged-in area */

/** import required fonts */
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;700&display=swap");
body,
html {
  min-height: 100%;
}
body {
  color: #383838;
  background-color: #e4e6ec;
  font-family: "Readex Pro", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #001955;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h3 {
  font-size: 14pt;
}
.mr-2 {
  margin-right: 4px !important;
}
button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus {
  box-shadow: none !important;
}
.btn {
  border: none;
}
.bg-primary,
.btn-primary {
  background-color: #001955 !important;
  color: #f1f1f1;
}
.form-group {
  margin-bottom: 0.6em;
}
.invalid-value {
  border-color: red !important;
}
.btn .badge {
  border-radius: 50% !important;
  transform: scale(0.8);
  position: absolute;
  top: 0;
  left: 23px;
}

/** wrapper cards  */
.card.wrapper {
  border: none;
  border-radius: 0;
}
.card .card-header {
  background: unset !important;
}

/** tables */
table thead tr {
  background-color: #f2f2f2;
}
td,
th {
  padding: 4px 12px !important;
}

/** form group divs */
.form-group {
  margin-bottom: 1.2em;
}
label {
  font-weight: 500;
}
[disabled] {
  cursor: no-drop;
}
