# Ignore the node_modules directory
node_modules/

tests/

# Ignore Logs
logs
*.log

#ignore Temporaly files
*.tmp*
*~$*

# Ignore the build directory
/dist

# The file containing environment variables 
.env

# Ignore IDE specific files
.idea/
.vscode/
*.sw*